@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.wf-loading {
    opacity: 0;
  }

  &.wf-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

body {
  perspective: 1000px;
}
