@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.wf-loading {
    opacity: 0;
  }

  &.wf-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

body {
  perspective: 1000px;
}

.work-item {
}

.work-item .title {
  font-weight: 600;
  font-size: 1rem;
}

.smooth-transition {
  transition: all 200ms ease-in-out;
}

.angel-hover-glow {
  &:hover {
    opacity: 0.8 !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1480px;
  }
}

.ui-btn.main {
  background-color: #00d49c;
}
